<html>
<html lang="en">

<head>
    <title>Person Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }
    </style>
</head>
<body>


    <div class="profile">
        <h1>Raghvendra Kumar Singh</h1>
        <p>Age: 20</p>
        <p>Branch: B.Tech Computer Scinece Engineering</p>
        <p>Location: Majhitar,Sikkim</p>
        <p>I am Raghavendra Kumar Singh.My Registration number is 202200181.Currently I am in 4th semester B.Tech CSE.</p>
    </div>
<button type="button" class="btn btn-success">Success</button>
</body>
</html>
